{% extends 'chat/layout.html' %}

{% block body %}

<section>

    <div class="row">
        <!-- Users title -->
        <div class="col-12">
            <h1>Users</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <!-- List of users -->
            <ul class="list-group">
                {% for user in users %}
                    <li class="list-group-item">
                        <a href="{% url 'start-chatroom' username=user %}">
                            <h5 class="text-dark" style="text-align: center">{{ user }}</h5>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <br/>

    <div class="row">
        <!-- Groups title -->
        <div class="col-12">
            <h1>Groups</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <!-- List of groups -->
            <ul class="list-group">
                {% for room in rooms %}
                    <li class="list-group-item">
                        <a href="{% url 'chatroom' room_name=room %}">
                            <h5 class="text-dark" style="text-align: center">{{ room }}</h5>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row justify-content-center my-2">
        <!-- Create group button -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-group-modal">
            Create New Group
        </button>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="create-group-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
  </div>

</section>

{% endblock %}