{% extends 'chat/layout.html' %}
{% load static %}

{% block title %}Chatify | {{ room_name }}{% endblock %}

{% block script %}<script src="{% static 'chat/js/chatroom.js' %}"></script>{% endblock %}

{% block body %}
<section>

  <div class="row pt-5">
      <div class="col-12 d-flex justify-content-center">
        
          <!-- Card box-->
          <div class="card bg-dark" style="border-radius: 15px; width: 100rem;">
              {% if other_user %}
                <!-- Card Header -->
                <div class="card-header d-flex justify-content-center text-white">
                    {% if other_user.first_name %}
                        <h1>{{ other_user.first_name }}</h1>
                    {% else %}
                        <h1>{{ other_user }}</h1>
                    {% endif %}
                </div>
              {% else %}
                <!-- Card Header -->
                <div class="card-header d-flex justify-content-between align-items-center text-white">
                    <h1>{{ room.title }}</h1>
                    <i class="bi bi-gear text-light" style="font-size: 1.5rem" id="settings-icon"></i>
                </div>

                <!-- Online count -->
                <div class="card-header d-flex justify-content-center align-items-center py-0 text-info">
                    <span id="online-count">{{ online_count }} online</span>
                </div>
              {% endif %}

              <!-- Card body -->
              <div class="card-body d-flex flex-column bg-dark" style="height: 80vh; border-radius: 15px;">

                  <!-- Chat message box -->
                  <div class="flex-grow-1 overflow-auto" id="chat-box">
                      <div id="chat-messages">
                          {% for message in chat_messages reversed %}
                            <!-- Message on left side if from user -->
                            {% if message.author == user %}
                                <div class="d-flex justify-content-end my-2">
                                    <div class="bg-primary text-white pt-3 px-2" id="message-db" style="border-radius: 15px; max-width: fit-content;">
                                        <p>{{ message.body }}</p>
                                    </div>
                                </div>

                            <!-- Message on right side if not from user -->
                            {% else %}
                                {% if room.is_group %}
                                    <div class="d-flex justify-content-start my-2">
                                        <div class="bg-light text-dark pt-3 px-2" id="message-db" style="border-radius: 15px; max-width: fit-content;">
                                            <h5>{{ message.author }}</h5>
                                            <p>{{ message.body }}</p>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="d-flex justify-content-start my-2">
                                        <div class="bg-light text-dark pt-3 px-2" id="message-db" style="border-radius: 15px; max-width: fit-content;">
                                            <p>{{ message.body }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                          {% endfor %}
                      </div>
                  </div>

                  <!-- Message box -->
                  <div id="chat-message-box">
                      <form id="message-box-input">
                          {% csrf_token %}
                          <!-- Message box custom form -->
                          {{ form.body }}
                          <!-- Hidden input for context in JavaScript -->
                          <input type="hidden" id="roomNameInput" value="{{ room.name }}">
                          <input type="hidden" id="currentUser" value="{{ request.user.username }}">
                          <input type="hidden" id="isGroup" value="{{ room.is_group }}">
                      </form>
                  </div>

              </div>
          </div>
      </div>
  </div>

</section>
{% endblock %}