{% extends 'chat/layout.html' %}

{% block title %}Login{% endblock %}

{% load crispy_forms_tags %}

{% block body %}

<section id="main">
    <!-- Display alert if there is one -->
    {% if message %}
        <div class="alert alert-warning alert-dismissable fade show" role="alert">
            {{ message }}
        </div>
    {% endif %}
    
    <h1 class="pt-5">Login</h1>

    <!-- Login form -->
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <!-- Form with Crispy Forms -->
        {{ form|crispy }}

        <!-- Link to 'register.html' -->
        <p>Don't have an account? Create one <a href="{% url 'register' %}">here</p>

        <!-- Login button -->
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</section>

{% endblock %}